.switch {
  width: 100%;
  position: relative;
  font-size: 15px;
  color: #555555;
  padding: 0 0;
  margin: 5px 0;
  font-weight: normal;
  background: #FFF;
  border-radius: 5px;

  & label {
    display: block;
    padding: 5px 0;
    padding-left: 50px;
    position: relative;
    cursor: pointer;

    &:after,
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 8px;
      left: 10px;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    &:after {
      width: 32px;
      height: 16px;
      border-radius: 10px;
      background-color: #eaeaea;
    }

    &:before {
      width: 14px;
      height: 14px;
      background-color: #fff;
      z-index: 2;
      border-radius: 50%;
      top: 9px;
      left: 11px;
    }
  }

  & .switch__item {
    display: none;

    &:checked + label:after {
      background-color: #addf7a;
    }

    &:checked + label:before {
      left: 27px;
    }

    &[disabled="true"] + label {
      color: #BBB;
    }

    &[disabled="true"] + label:after {
      background-color: #f8f8f8;
    }
  }
}