@import 'variables.less';

.field-text {
  display: block;
  margin-bottom: (@line-height / 2);

  &__name {
    display: block;
    margin-bottom: round(@line-height / 4, 2);
    line-height: @line-height;
    font-weight: 700;
  }

  &__input-wrap {
    display: block;
    position: relative;
    margin: 5px auto;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2.125em;
    padding: @field-padding-top @field-padding-horizontal @field-padding-bottom;
    line-height: @line-height;
    font-size: inherit;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    -webkit-appearance: textfield;

    &--autorization {
      width: 300px;
    }
    &--left {
      display: inline-block;
      float: left;
    }
    &--edit {
      float: left;
    }

    &:focus {
      .focus();
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: @gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      height: auto;
    }

    &[type='color'] {
      max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: @text-color--muted;
      opacity: 1;
    }

    textarea& {
      height: auto;
      min-height: (@line-height * 2) + @field-padding-top + @field-padding-bottom + .2; // .2 — поправка на бордюр
      resize: vertical;
    }
  }

  &__help-text {
    .help-text();
  }
}


.help-text() {
  display: block;
  font-size: @font-size--small-percent;
  line-height: 1.2em;
  color: @text-color--muted;
  padding-top: 0.417em;

  &:empty {
    display: none;
  }
}

.focus() {
  outline: 0;
  box-shadow: 0 0 0 2px fade(@color-main, 30%);
}