@import 'variables.less'; // только для удобства обращения к переменным

.form {
  &--horizontal {

    @media (min-width: @screen-sm) {

      .field-text,
      .field-checkbox,
      .field-radio,
      .field-select,
      .field-file,
      .field-range,
      .field-toggler {
        display: flex;
      }

      .field-text__name,
      .field-select__name,
      .field-file__name,
      .field-range__name {
        width: 9.375em;
        min-width: 9.375em;
        padding-top: 0.4em;
        padding-right: 0.6em;
        margin-bottom: 0;
      }

      .field-checkbox__title,
      .field-toggler__title,
      .field-radio__title {
        width: 9.375em;
        min-width: 9.375em;
        padding-right: 0.6em;
        margin-bottom: 0;
      }

      .field-text__input-wrap,
      .field-select__select-wrap,
      .field-range__input-wrap,
      .field-file__input-wrap,
      .field-toggler__input-wrap {
        flex-grow: 1;
      }

      .field-actions {
        padding-left: 9.375em;
      }

      .field-select__select[multiple] {
        padding-top: 0.45em;
        padding-bottom: 0.45em;
        min-height: 7.1em;
      }

    }

    .field-checkbox__title,
    .field-radio__title {
      &:empty {
        margin-bottom: 0;
      }
    }
  }

  &--line {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    @media (min-width: @screen-sm) {

      .field-text,
      .field-checkbox,
      .field-radio,
      .field-select,
      .field-file,
      .field-range,
      .field-toggler,
      .field-actions {
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-right: 0.3em;
      }

      .field-text__input-wrap,
      .field-checkbox__input-wrap,
      .field-radio__input-wrap,
      .field-select__select-wrap,
      .field-toggler__input-wrap,
      .field-file__input-wrap {
        display: inline-block;
        vertical-align: top;
      }

      .field-file__input-wrap {
        max-width: 35rem;
      }

      .field-text__name,
      .field-checkbox__title,
      .field-radio__title,
      .field-select__name,
      .field-file__name,
      .field-range__name,
      .field-toggler__title {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        max-width: 20rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: e("calc(@{field-padding-top} + 1px)"); // 1px — бордюр инпута
      }

      .field-checkbox__title,
      .field-radio__title,
      .field-toggler__title {
        margin-right: 0.3em;
      }

      .field-checkbox__name,
      .field-radio__name,
      .field-toggler__name {
        margin-right: 0.6em;
        margin-top: e("calc(@{field-padding-top} + 1px)");
        margin-bottom: e("calc(@{field-padding-top} + 1px)");
      }

    }

  }
}

.form {

  &:not(:last-child) {
    margin-bottom: @line-height;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: @line-height;
    }
  }

  legend {
    display: block;
    width: 100%;
    font-size: @font-size--h3;
    font-family: @font-family--headings;
    font-weight: 700;
    line-height: 1.4;
    color: currentColor;
    margin-top: @line-height;
    margin-bottom: (@line-height / 2);
  }
}