*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

.clearfix:before,
.row:before,
.row:after {
  content: " ";
  display: table;
  box-sizing: border-box;
}

.row:after,
.clearfix:after{
  clear: both;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}