@import './variables.less';     // только для удобства обращения к переменным



.container {
  .container();
}

.row {
  .row();
}

// Классы модульной сетки для XS — срабатывают на всех ширинах
.make-column-list-general-rules(xs); // список всех селекторов .col-xs-... и их обще свойства
.make-columns(@grid-columns, xs);    // ширины для каждого селектора .col-xs-... отдельно
.make-offsets(@grid-columns, xs);    // левые отступы для каждого селектора .col-xs-offset-...

// Классы модульной сетки для SM — срабатывают на ширине @screen-sm (по умолчанию: 480px)
.make-column-list-general-rules(sm); // список всех селекторов .col-sm-... и их обще свойства
@media (min-width: @screen-sm) {
  .make-columns(@grid-columns, sm);  // ширины для каждого селектора .col-sm-... отдельно
  .make-offsets(@grid-columns, sm);  // левые отступы для каждого селектора .col-sm-offset-...
}

// Классы модульной сетки для MD — срабатывают на ширине @screen-md (по умолчанию: 768px)
.make-column-list-general-rules(md); // список всех селекторов .col-md-... и их обще свойства
@media (min-width: @screen-md) {
  .make-columns(@grid-columns, md);  // ширины для каждого селектора .col-md-... отдельно
  .make-offsets(@grid-columns, md);  // левые отступы для каждого селектора .col-md-offset-...
}

// Классы модульной сетки для LG — срабатывают на ширине @screen-lg (по умолчанию: 992px)
.make-column-list-general-rules(lg); // список всех селекторов .col-lg-... и их обще свойства
@media (min-width: @screen-lg) {
  .make-columns(@grid-columns, lg);  // ширины для каждого селектора .col-lg-... отдельно
  .make-offsets(@grid-columns, lg);  // левые отступы для каждого селектора .col-lg-offset-...
}

// Классы модульной сетки для XL — срабатывают на ширине @screen-xl (по умолчанию: 1200px)
.make-column-list-general-rules(xl); // список всех селекторов .col-xl-... и их обще свойства
@media (min-width: @screen-xl) {
  .make-columns(@grid-columns, xl);  // ширины для каждого селектора .col-xl-... отдельно
  .make-offsets(@grid-columns, xl);  // левые отступы для каждого селектора .col-xl-offset-...
}

// Классы модульной сетки для XXL — срабатывают на ширине @screen-xxl (по умолчанию: 1890px)
 .make-column-list-general-rules(xxl); // список всех селекторов .col-xxl-... и их обще свойства
 @media (min-width: @screen-xxl) {
   .make-columns(@grid-columns, xxl);  // ширины для каждого селектора .col-xxl-... отдельно
   .make-offsets(@grid-columns, xxl);  // левые отступы для каждого селектора .col-xxl-offset-...
 }




//------------------------------------------------------------------------------
//  Генератор правил для контейнера
//------------------------------------------------------------------------------

.container() {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
  max-width: 1600px;

  /*
  @media (min-width: @screen-sm) {
    width: @container-sm;
  }

  @media (min-width: @screen-md) {
    width: @container-md;
  }

  @media (min-width: @screen-lg) {
    width: @container-lg;
  }

  @media (min-width: @screen-xl) {
    width: @container-xl;
  }

  @media (min-width: @screen-xxl) {
    width: @container-xxl;
  }
  */
}



//------------------------------------------------------------------------------
//  Генератор правил для прямого родителя модульной сетки
//------------------------------------------------------------------------------
//  Принимает:
//  @xs-grid-gutter:   @grid-gutter-width - промежуток между ячейками XS-сетки
//  @sm-grid-gutter:   @grid-gutter-width - промежуток между ячейками SM-сетки
//  @md-grid-gutter:   @grid-gutter-width - промежуток между ячейками MD-сетки
//  @lg-grid-gutter:   @grid-gutter-width - промежуток между ячейками LG-сетки
//  @xl-grid-gutter:   @grid-gutter-width - промежуток между ячейками XL-сетки
//  @xxl-grid-gutter:  @grid-gutter-width - промежуток между ячейками XXL-сетки
//------------------------------------------------------------------------------
//  Тестирование: http://codepen.io/nicothin/pen/NNggVx?editors=0100
//------------------------------------------------------------------------------

.row(@xs-grid-gutter: @grid-gutter-width; @sm-grid-gutter: @grid-gutter-width; @md-grid-gutter: @grid-gutter-width; @lg-grid-gutter: @grid-gutter-width; @xl-grid-gutter: @grid-gutter-width; @xxl-grid-gutter: @grid-gutter-width;) {
  display: flex;
  flex-wrap: wrap;

  & > * {
    display: block;
    width: 100%;
  }

  // Если первая переданная переменная не ноль — выводим margin-ы по умолчанию
  & when not (@xs-grid-gutter = 0) {
    margin-left:  (@xs-grid-gutter / -2);
    margin-right: (@xs-grid-gutter / -2);
  }

  // Если первая переданная переменная не ноль — выводим padding-и по умолчанию для прямых потомков
  & when not (@xs-grid-gutter = 0) {
    & > * {
      padding-left:  (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }

  & when not (@sm-grid-gutter = @xs-grid-gutter) {
    @media (min-width: @screen-sm) {
      margin-left:  (@sm-grid-gutter / -2);
      margin-right: (@sm-grid-gutter / -2);
    }
  }

  & when not (@md-grid-gutter = @sm-grid-gutter) {
    @media (min-width: @screen-md) {
      margin-left:  (@md-grid-gutter / -2);
      margin-right: (@md-grid-gutter / -2);
    }
  }

  & when not (@lg-grid-gutter = @md-grid-gutter) {
    @media (min-width: @screen-lg) {
      margin-left:  (@lg-grid-gutter / -2);
      margin-right: (@lg-grid-gutter / -2);
    }
  }

  & when not (@xl-grid-gutter = @lg-grid-gutter) {
    @media (min-width: @screen-xl) {
      margin-left:  (@xl-grid-gutter / -2);
      margin-right: (@xl-grid-gutter / -2);
    }
  }

  & when not (@xxl-grid-gutter = @xl-grid-gutter) {
    @media (min-width: @screen-xxl) {
      margin-left:  (@xxl-grid-gutter / -2);
      margin-right: (@xxl-grid-gutter / -2);
    }
  }
}



//------------------------------------------------------------------------------
//  Генератор ширины ячейки
//------------------------------------------------------------------------------
//  Принимает:
//  @column:      1                     - ширина (кол-во колонок в этой ячейке)
//  @columns:     @grid-columns;        - количество ячеек в ряду
//
//  Возвращает переменную @width в контекст вызова.
//------------------------------------------------------------------------------

.get-width(@column: 1, @columns: @grid-columns) {
  @width: (100% / @columns) * @column;
}



//------------------------------------------------------------------------------
//  Генератор правил для одной ячейки
//------------------------------------------------------------------------------
//  Принимает:
//  @column:      1                     - ширина (кол-во колонок для этой ячейки)
//  @columns:     @grid-columns;        - общее количество ячеек на 1 ряд
//  @gutter:      @grid-gutter-width    - промежуток между ячейками (для padding-left и padding-right)
//------------------------------------------------------------------------------

.make-col(@column: 1, @columns: @grid-columns, @gutter: @grid-gutter-width) {
  .get-width(@column, @columns); // Вернёт @width с шириной в процентах

  display: block;
  flex: 0 0 @width;
  max-width: @width;

  // ВНИМАНИЕ! если @gutter = false, в CSS не попадут правила padding-left и padding-right
  & when not (@gutter = false) {
    padding-left: (@gutter / 2);
    padding-right: (@gutter / 2);
  }
}



//------------------------------------------------------------------------------
//  Генератор правил для одной ячейки с возможностью указать @media
//------------------------------------------------------------------------------
//  Принимает:
//  @screen:      xs                    - тип сетки [xs|sm|md|lg|xl|xxl]
//  @column:      1                     - ширина (кол-во колонок для этой ячейки)
//  @columns:     @grid-columns;        - общее количество ячеек на 1 ряд
//  @gutter:      @grid-gutter-width    - промежуток между ячейками (для padding-left и padding-right)
//------------------------------------------------------------------------------
//  Примеры: http://codepen.io/nicothin/pen/obRMgx?editors=1100
//------------------------------------------------------------------------------

.col(@screen: xs, @column: 1, @columns: @grid-columns, @gutter: @grid-gutter-width) {
  & when (@screen = xs) {
    .make-col(@column, @columns, @gutter);
  }
  & when (@screen = sm) {
    @media (min-width: @screen-sm) {
      .make-col(@column, @columns, @gutter);
    }
  }
  & when (@screen = md) {
    @media (min-width: @screen-md) {
      .make-col(@column, @columns, @gutter);
    }
  }
  & when (@screen = lg) {
    @media (min-width: @screen-lg) {
      .make-col(@column, @columns, @gutter);
    }
  }
  & when (@screen = xl) {
    @media (min-width: @screen-xl) {
      .make-col(@column, @columns, @gutter);
    }
  }
  & when (@screen = xxl) {
    @media (min-width: @screen-xxl) {
      .make-col(@column, @columns, @gutter);
    }
  }
}

//------------------------------------------------------------------------------
//  Генератор правил для отступа одной ячейки с возможностью указать @media
//------------------------------------------------------------------------------
//  Принимает:
//  @screen:      xs                    - тип сетки [xs|sm|md|lg|xl|xxl]
//  @column:      1                     - ширина отступа (кол-во колонок)
//  @columns:     @grid-columns;        - общее количество ячеек на 1 ряд
//------------------------------------------------------------------------------

.col-offset(@screen: xs, @column: 1, @columns: @grid-columns) {
  & when (@screen = xs) {
    margin-left: (@column * 100% / @columns);
  }
  & when (@screen = sm) {
    @media (min-width: @screen-sm) {
      margin-left: (@column * 100% / @columns);
    }
  }
  & when (@screen = md) {
    @media (min-width: @screen-md) {
      margin-left: (@column * 100% / @columns);
    }
  }
  & when (@screen = lg) {
    @media (min-width: @screen-lg) {
      margin-left: (@column * 100% / @columns);
    }
  }
  & when (@screen = xl) {
    @media (min-width: @screen-xl) {
      margin-left: (@column * 100% / @columns);
    }
  }
  & when (@screen = xxl) {
    @media (min-width: @screen-xxl) {
      margin-left: (@column * 100% / @columns);
    }
  }
}



//------------------------------------------------------------------------------
//  Генератор списка селекторов .col-[указанный тип]-[] и их общих свойств
//------------------------------------------------------------------------------
//  Принимает:
//  @screen:      xs          - тип сетки [xs|sm|md|lg|xl|xxl]
//------------------------------------------------------------------------------

.make-column-list-general-rules(@screen: xs) {
  .column-list(@index) {
    @item: ~".col-@{screen}-@{index}";
    .column-list((@index + 1), @item);
  }
  .column-list(@index, @list) when (@index =< @grid-columns) {
    @item: ~".col-@{screen}-@{index}";
    .column-list((@index + 1), ~"@{list}, @{item}");
  }
  .column-list(@index, @list) when (@index > @grid-columns) {
    @{list} {
      display: block;
      flex: 0 0 100%;
      width: 100%;
      padding-left: (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }
  .column-list(1);
}



//------------------------------------------------------------------------------
//  Генератор селекторов .col-[указанный тип]-[] и их индивидуальных свойств (ширин)
//------------------------------------------------------------------------------
//  Принимает:
//  @n:                       - количество колонок
//  @screen:                  - тип сетки [xs|sm|md|lg|xl|xxl]
//------------------------------------------------------------------------------

.make-columns(@n: @grid-columns, @screen: xs, @i: 1) when (@i =< @n) {
  .col-@{screen}-@{i} {
    .make-col(@i, @n, false)
  }
  .make-columns(@n, @screen, (@i + 1));
}



//------------------------------------------------------------------------------
//  Генератор селекторов .col-[]-offset-[] и их индивидуальных свойств (margin-left)
//------------------------------------------------------------------------------
//  Принимает:
//  @n:                       - количество колонок
//  @screen:                  - тип сетки [xs|sm|md|lg|xl|xxl]
//------------------------------------------------------------------------------

.make-offsets(@n: @grid-columns, @screen: xs, @i: 1) when (@i =< @n) {
  .col-@{screen}-offset-@{i} {
    margin-left: (@i * 100% / @n);
  }
  .make-offsets(@n, @screen, (@i + 1));
}