@import 'variables.less';

.header {
  display: block;
  flex-wrap: wrap;
  position: relative;
  margin: 30px auto;
  border-bottom: 1px solid #D8DADC;
  box-sizing: border-box;
  height: 50px;
  max-width: 1600px;

  @media (min-width: 0px) and (max-width: 1199px) {
    display: block;
    flex-wrap: wrap;
    position: relative;
    margin: 30px 0;
    border-bottom: none;
    box-sizing: border-box;
    height: 50px;
  }
}

.header__logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto", serif;
  font-size: 30px;
  color: #3f3f3e;
  text-decoration: none;
  line-height: 1.428;

  &:hover {
    text-decoration: underline;
  }
  @media (min-width: 0px) and (max-width: 1199px) {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.nav-header {
  display: block;
  position: absolute;
  right: 0;
  float: right;

  @media (min-width: 0px) and (max-width: 1199px) {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
}

.nav-header__menu {
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 30px;

  @media (min-width: 0px) and (max-width: 1199px) {
    float: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;

    .productsTable {
      display: none;
    }

    .dishesTable {
      display: none;
    }
  }
}

.nav-header__menu li {
  display: inline-block;
}

.nav-header:before,
.nav-header:after,
.header__logo:before,
.header__logo:after,
.nav-header__menu:before,
.nav-header__menu:after
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.nav-header__menu-form {
  display: inline-flex;
  position: relative;

  & .field-text__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2.125em;
    padding: @field-padding-top @field-padding-horizontal @field-padding-bottom;
    line-height: @line-height;
    font-size: inherit;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    -webkit-appearance: textfield;
    margin: 3px auto;
  }
  &--create {
    width: 500px;
  }
}

.profile {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.tooltip-login {
  position: relative;
  z-index: 1;
  zoom: 1;
  color: #06F;
}

.tooltip-login:hover {
  cursor: pointer;
  text-decoration: none;
}

.tooltip-login:hover::after {
  width: 45px;
  right: -45px;
  display: inline;
  position: absolute;
  z-index: 1;
  background-color: #eee;

  border-radius: 5px;
  line-height: normal;
  color: #111;
  text-decoration: none;
  text-align: center;
  padding: 3px 5px;
  top: 22px;
  box-shadow: 0 0 5px #eee;
  content: attr(data-tool);
}