.window .btn-close {
  color: black;
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.window .btn-close:hover {
  color: red;
}

.window-open:checked ~ .window-wrap:before {
  display: block;
}
.window-open:checked ~ .window-wrap .window-dialog {
  transform: translate(-50%, 0);
  transition: transform 0.5s ease-out;
  top: 25%;
}

.window-wrap:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.window-dialog {
  background: white;
  position: fixed;
  width: 80%;
  max-width: 500px;
  left: 50%;
  top: -100%;
  transform: translate(-50%, -1000%);
  transition: transform 0.5s ease-out;
  z-index: 2;
}

.window-header {
  padding: 20px 20px;
  border-bottom: #555 solid 2px;
}

.window-header h1 {
  color: black;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0;
}

.window-body {
  padding: 20px;
}