@import 'variables.less';

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid @border-color;

  &__header {
    background-color: @gray-lightest;
  }

  &__body {
  }

  &__footer {
    background-color: @gray-lightest;
    color: @gray;
  }

  &--striped {
    tbody {
      tr:nth-child(2n) {
        background-color: @gray-lightest;
      }

      tr:nth-child(odd) {
        background: white;
      }

      tr:nth-child(even) {
        background: #E8E6D1;
      }

      tr .icon {
        padding: 9px 8px 7px 8px;
        line-height: 1.42857143;
        vertical-align: baseline;
        border-top: 1px solid #ddd;
      }

      tr .icon a {
        visibility: hidden;
      }

      tr:hover .icon a {
        visibility: visible;
      }

      tr .visible a {
        visibility: hidden;
      }

      tr:hover .visible a {
        visibility: visible;
      }
    }
  }

  &--hover {
    tbody {
      tr:hover {
        background-color: @gray-lightest;
      }
    }
  }

  &--not-greed {
    width: auto;
  }
}

caption {
  padding: round(0.6em * (100 / @font-size--small-percent), 2);
  text-align: right;
  caption-side: bottom;
  font-size: @font-size--small-percent;
  line-height: 1em;
  color: @text-color--muted;
}

td,
th {
  vertical-align: top;
  border-bottom: 1px solid @border-color;

  &:not(:first-child) {
    border-left: 1px solid @border-color;
  }
}

th {
  text-align: left;
  padding: 0.6em;
}

td {
  padding: 0.6em;
}

.vitamins,
.elements {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
}

.product {
  margin-bottom: 0;
}

.elements {
  margin-bottom: 10px;
}

.vitamins > thead > tr > .vitaminType,
.elements > thead > tr > .elementType,
.vitamins > tbody > tr > .vitaminValue,
.elements > tbody > tr > .elementValue {
  line-height: normal;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.vitamins > thead > tr > .vitaminType,
.elements > thead > tr > .elementType {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.elementTitle,
.vitaminTitle {
  position: relative;
  padding: 3px 5px 3px 10px;
  color: #686461;
  background: #B9B29F;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  line-height: normal;
}

.vitaminType,
.elementType {
  padding: 3px 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.vitaminValue,
.elementValue {
  padding: 3px 0;
  text-align: center;
  font-size: 15px;
}

.grid-gradient {
  background: repeating-linear-gradient(
          transparent, transparent 4px, #43527c 5px
  ),
  repeating-linear-gradient(
          30deg,
          transparent, transparent 4px, #43527c 5px
  );
}