.show {
  position: relative;
  z-index: 1;
  zoom: 1;
  color: #06F;

  & em {
    display: none;
  }

  &:hover em {
    width: 300px;
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #eee;
    border-radius: 5px;
    line-height: normal;
    color: #111;
    text-decoration: none;
    text-align: right;
    padding: 3px 5px;
    top: 22px;
    right: -300px;
    box-shadow: 0 0 5px #eee;
  }

  &:hover em i {
    position: absolute;
    z-index: 1;
    left: 7px;
    top: -8px;
    border-bottom: 10px solid #eee;
    border-right: 9px solid transparent;
    display: block;
    height: 0;
    overflow: hidden;
  }

  &--login:hover em {
    width: 45px;
    right: -45px;
  }
}